################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/*
/Fluentx/obj/*
/Fluentx/bin/*
/Fluentx.Benchmark/obj/*
/Fluentx.Benchmark/bin/*
/Fluentx.Tester/obj/*
/Fluentx.Tester/bin/*
/Fluentx.Playground/obj/*
/Fluentx.Playground/bin/*

